@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definir colores base */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Aplicar colores al cuerpo */
body {
  color: var(--foreground);
  background: var(--background);
}